<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689903734972-m6k0kmood5ka811325u4kp3inhr7shop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689903734972-m6k0kmood5ka811325u4kp3inhr7shop</string>
	<key>API_KEY</key>
	<string>AIzaSyCZcfmC-RGXYzzHyRReJ0t8q1J_7rjO9gM</string>
	<key>GCM_SENDER_ID</key>
	<string>689903734972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octatech.nagamanager</string>
	<key>PROJECT_ID</key>
	<string>nagawarehouse-de525</string>
	<key>STORAGE_BUCKET</key>
	<string>nagawarehouse-de525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689903734972:ios:48592643f48a65a23a40b9</string>
</dict>
</plist>